#under /etc/udev/rules.d/
ACTION=="add", SUBSYSTEM=="pci", ATTR{class}=="0x030000", RUN+="/home/deck/Documents/docksettings.sh --udev"
ACTION=="remove", SUBSYSTEM=="pci", ATTR{class}=="0x030000", RUN+="/home/deck/Documents/docksettings.sh --udev"
